<h1>LOG IN</h1>

<form action="/login-user" method="POST">
   <input type="text" placeholder="Name" name="username">
   <input type="password" placeholder="Password" name="password">

   <button onclick="Submit">Login</button>
</form>