<form action="/new-user" method="POST">
   <input type="text" placeholder="Name" name="username">
   <input type="password" placeholder="Password" name="password">
   {{!-- {{#if errorMessage}}
   <div style="padding:20px; background: red;">
       {{errorMessage}}
   </div>
   {{/if}} --}}
   <button onclick="Submit">Signup</button>
</form>
{{!-- <br><br> --}}
{{!-- <a href="../celebrities">Return to Celebrities List</a> --}}